modules = ["nodejs-20"]

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 43122532
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -p 5000"

[[ports]]
localPort = 5173
externalPort = 5000
exposeLocalhost = true
